<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<%block name="bootstrapcss">
		<%include file="../shared/bootstrapcss.html"/>
	</%block>
</head>
<body>
		${next.body()}
</body>
</html>
