<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{_("Hello", domain='ppss_auth') }} {{user.username}}, <br>
    <p>{{_("Follow this link to confirm your email")}} <a href="{{confirm_link}}">Link</a> </p>
    <p>
        <a href="{{confirm_link}}">{{confirm_link}}</a>
      </p>
</body>
</html>