<label>
    <span>One Time Code</span>
    <input required name="otp" type="text" autocomplete="one-time-code" inputmode="numeric" maxlength="6" pattern="\d{6}">
</label>
<style>
    :where([autocomplete=one-time-code]) {
        --otp-digits: 6;
        --otp-ls: 2ch;
        --otp-gap: 1.25;

        /* private consts */
        --_otp-bgsz: calc(var(--otp-ls) + 1ch);
        --_otp-digit: 0;

        all: unset;
        text-align: left;
        background:
            linear-gradient(90deg,
                var(--otp-bg, #BBB) calc(var(--otp-gap) * var(--otp-ls)),
                transparent 0),
            linear-gradient(90deg,
                var(--otp-bg, #EEE) calc(var(--otp-gap) * var(--otp-ls)),
                transparent 0);
        background-position: calc(var(--_otp-digit) * var(--_otp-bgsz)) 0, 0 0;
        background-repeat: no-repeat, repeat-x;
        background-size: var(--_otp-bgsz) 100%;
        caret-color: var(--otp-cc, #222);
        caret-shape: block;
        clip-path: inset(0% calc(var(--otp-ls) / 2) 0% 0%);
        font-family: ui-monospace, monospace;
        font-size: var(--otp-fz, 2.5em);
        inline-size: calc(var(--otp-digits) * var(--_otp-bgsz));
        letter-spacing: var(--otp-ls);
        padding-block: var(--otp-pb, 1ch);
        padding-inline-start: calc(((var(--otp-ls) - 1ch) / 2) * var(--otp-gap));
    }

    /* For this demo */
    label span {
        display: block;
        font-family: ui-sans-serif, system-ui, sans-serif;
        font-weight: 500;
        margin-block-end: 1ch;
    }
</style>
<script>
    const input = document.querySelector('[autocomplete=one-time-code');
    input.addEventListener('input', () => input.style.setProperty('--_otp-digit', input.selectionStart));
    input.focus();
</script>