{% extends midtpl %}

{% block ppssauth_content %}
<div class="row">
    <div class="{{bc['xs']}}12">
        <div class="alert alert-{{msg_type}}" role="alert">
            {{msg}}
            {% if redirect_url %}
                <a href="{{redirect_url}}">Redirecting...</a>
            {% endif %}
            {% if login_url %}
                <a href="{{login_url}}">Login</a>
            {% endif %}
        </div>
    </div>
</div>
{% if redirect_url %}
    <script>
        setTimeout(function() {
            window.location.href = "{{redirect_url}}";
        }, 3000);
    </script>
{% endif %}
{% endblock ppssauth_content %}
