{% extends logintpl %}

{% block body %}
<div class="row">
    <div class="{{bc['xs']}}12">

        <div class="d-flex mt-1">
            <div class="m-auto text-center w-50">
                <h1 class="h3 mb-3 font-weight-normal">{{_("Reset password",domain='ppss_auth')}}</h1>
                <form method="POST" class="loginform ppssauthform">
                    <input type="hidden" value="{{get_csrf_token()}}" name="csrf_token">
                    <input type="hidden" name="reset-token" value="{{token}}">
                    <div class="ppssfield my-3">
                        <input class="form-control" type="password" name="newpassword" autocomplete="off"
                            placeholder="{{_('new password', domain='ppss_auth')}}" required>
                    </div>
                    <div class="ppssfield my-3">
                        <input class="form-control" type="password" name="confirmnewpassword" autocomplete="off"
                            placeholder="{{_('confirm new password', domain='ppss_auth')}}" required>
                    </div>

                    <div class="alert alert-info">
                        {{password_requirements}}
                    </div>

                    <div class="text-center">
                        <input class="btn btn-success" type="submit" name="submit"
                            value="{{_('Reset', domain='ppss_auth')}}" />
                    </div>
                    </br>
                </form>

                <p class="text-danger">
                    {{msg}}
                    {% if login_url %}
                    <a href="{{login_url}}">Login</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}